/* Coolors Exported Palette - coolors.co/546e7a-f7f052-b7f0ad-fffffa-d62828 */

/* HSL */
$color1: hsla(199%, 18%, 40%, 1);
$color2: hsla(57%, 91%, 65%, 1);
$color3: hsla(111%, 69%, 81%, 1);
$color4: hsla(60%, 100%, 99%, 1);
$color5: hsla(0%, 69%, 50%, 1);

/* RGB */
$color1: rgba(84, 110, 122, 1);
$color2: rgba(247, 240, 82, 1);
$color3: rgba(183, 240, 173, 1);
$color4: rgba(255, 255, 250, 1);
$color5: rgba(214, 40, 40, 1);